.seatInformation{
    display: flex;
    justify-content: space-evenly;
    width: 54%; 
    margin-top: 15px;   
    font-size: small;
    color: rgb(57, 59, 59);             
}

.blueSeat{    
    border: 1px solid;
    width: 25px;
    height: 35px;
    border-radius: 25% 10% 10% 25%;            
}

.pinkSeat{    
    border: 1px solid;
    width: 25px;
    height: 35px;
    border-radius: 25% 10% 10% 25%;        
}

.yellowSeat{    
    border: 1px solid;
    width: 25px;
    height: 35px;
    border-radius: 25% 10% 10% 25%;        
}